.container {
	min-height: 100vh;
	position: relative;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
  
  .main {
	padding: 5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
  }
  
  .overlay {
	color: white;
	text-align: center;
	z-index: 1;
	/* Add more styles to position your text */
  }
  
  /* Add styles for your h1 element and footer as needed */
  